/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.theme-default-content:not(.custom) {
    max-width: 850px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
